.d-flex{
    display: flex !important;
}

.flex-column{
    flex-direction: column !important;
}

.flex-grow-1{
    flex-grow: 1 !important;
}

.align-center{
    align-items: center !important;
}

.justify-center{
    justify-items: center !important;
}