.text-right{
    text-align: right;
}

.ff-poppins {
    font-family: "Poppins", sans-serif;
  }

.ff-raleway {
    font-family: "Raleway", sans-serif;
}

.ff-ibm{
    font-family: "IBM Plex Mono", monospace;
}

.ff-ibm-medium{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
}