.text-naw-content{
    font-size: calc(0.7vmax + 4vmin);
}
.text-naw-title{
    font-size: calc(0.7vmax + 2vmin);
}
.text-naw-subtitle{
    font-size: calc(0.7vmax + 1.5vmin);
    letter-spacing: 0.03rem;
}

.text-m-h4{
    font-size: calc(2.5vmax + 5vmin);
    letter-spacing: 0.06rem;
}

.text-m-title-1{
    font-size: calc(1.5vmax + 2vmin);
    letter-spacing: 0.05rem;
}

.text-m-title-2{
    font-size: calc(1.3vmax + 1.8vmin);
    letter-spacing: 0.05rem;
}

.text-m-subtitle-1{
    font-size: calc(1.1vmax + 1.6vmin);
    letter-spacing: 0.05rem;
}

.text-m-subtitle-2{
    font-size: calc(0.7vmax + 1.4vmin);
    letter-spacing: 0.05rem;
}

.text-m-body-1{
    font-size: calc(1vmax + 1.5vmin);
    letter-spacing: 0.04rem;
  }

/* :root{
    --v-colorBackground-base: rgb(243, 243, 243) !important;
} */