@media (min-width: 960px) {
    .text-naw-content{
        font-size: 1.5vmax;
        font-family: "Mulish", sans-serif;
    }
    
    .text-m-h4{
        font-size: calc(2.5vmax + 4vmin) !important;
        letter-spacing: 0.06rem;
    }
    
    .text-m-h5{
        font-size: calc(2vmax + 3vmin) !important;
        letter-spacing: 0.08rem;
        line-height: 1em;
    }
    
    .text-m-h6{
        font-size: calc(1.2vmax + 2.5vmin) !important;
        letter-spacing: 0.08rem;
        line-height: 2.3rem;
    }
    
    .text-m-title-1{
        font-size: calc(1.2vmax + 0.5vmin);
        line-height: 2.5rem;
        letter-spacing: 0.05rem;
    }
    
    .text-m-title-2{
        font-size: calc(0.9vmax + 0.3vmin);
        line-height: 2.2rem;
        letter-spacing: 0.05rem;
    }
    
    
    .text-m-subtitle-1{
        font-size: calc(0.4vmax + 1vmin);
        letter-spacing: 0.05rem;
    }
    
    .text-m-subtitle-2{
        font-size: calc(0.3vmax + 0.9vmin);
        letter-spacing: 0.02rem;
    }
    
    .text-m-body-1{
        font-size: calc(0.5vmax + 1.4vmin) !important;
        letter-spacing: 0.04rem !important;
      }
    
      .text-m-body-2{
        font-size: calc(0.3vmax + 1.1vmin);
        letter-spacing: 0.02rem;
      }

    .text-m-caption{
        font-size: calc(0.3vmax + 0.5vmin);
        letter-spacing: 0.02rem;
    }
    
}

@media (max-width: 960px) {
    .text-naw-content{
        font-size: calc(0.7vmax + 4vmin);
    }
    .text-naw-title{
        font-size: calc(0.7vmax + 2vmin);
    }
    .text-naw-subtitle{
        font-size: calc(0.7vmax + 1.5vmin);
        letter-spacing: 0.03rem;
    }
    
    .text-m-h4{
        font-size: calc(2.5vmax + 5vmin);
        letter-spacing: 0.06rem;
    }
    
    .text-m-title-1{
        font-size: calc(1.5vmax + 2vmin);
        letter-spacing: 0.05rem;
    }
    
    .text-m-title-2{
        font-size: calc(1.3vmax + 1.8vmin);
        letter-spacing: 0.05rem;
    }
    
    .text-m-subtitle-1{
        font-size: calc(1.1vmax + 1.6vmin);
        letter-spacing: 0.05rem;
    }
    
    .text-m-subtitle-2{
        font-size: calc(0.7vmax + 1.4vmin);
        letter-spacing: 0.05rem;
    }
    
    .text-m-body-1{
        font-size: calc(1vmax + 1.5vmin);
        letter-spacing: 0.04rem;
      }

      .text-m-caption{
        font-size: calc(0.6vmax + 0.6vmin);
        letter-spacing: 0.02rem;
    }
}